<html>

<head>
<title>Metro Simulation</title>
</head>

<body>
<form method="get" action="/loading/">
{% csrf_token %}
	Select number of trains: <select name="Trains">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
	</select><br>
	
	Select number of cars per train<select name="Cars">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
	</select><br>
	
	Enter number of passengers for simulation<input name="Passengers" type="text" style="width: 172px" /><br>
	<input  type="submit" value="Run Simulation">
</form>
</body>

</html>
